<% layout('/layouts/boilerplate') -%>

<body>
  <div
    class="card mb-3 offset-2"
    style="max-width: 800px; overflow: hidden !important"
  >
    <div class="row g-0">
      <div class="col-md-4" data-aos="fade-down" data-aos-easing="linear">
        <img src="<%=item.image%>" class="img-fluid rounded-start" alt="..." />
      </div>
      <div
        class="col-md-8 d-flex flex-column"
        style="overflow: hidden !important"
      >
        <div
          class="card-body"
          data-aos="fade-right"
          data-aos-offset="300"
          data-aos-easing="ease-in-sine"
        >
          <h5 class="card-title"><%= item.title %></h5>
          <p class="card-text"><%= item.description%></p>
          <p class="card-text">
            <small class="text-body-secondary"
              >&#8377;<%= item.price.toLocaleString("en-IN") %></small
            >
          </p>

          <div style="margin: 0" class="button col-8 mt-10">
            <div class="edit">
              <a href="/listings/<%=item._id%>/edit" class="btn btn-success"
                ><span><i class="fa-solid fa-cart-shopping"></i></span
                ><span>Add to Cart</span></a
              >
            </div>
            <div>
              <form
                method="POST"
                action="/listings/<%= item._id %>?_method=DELETE"
              >
                <button class="btn btn-dark">Buy</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<!-- <body>
  <div class="image" style="display: flex">
    <img src="<%=item.image%>" alt="..." height="400rem" />
    <div class="item-info">
      <ul>
        <li><%= item.title %></li>
        <li><%= item.description%></li>
        <li>&#8377;<%= item.price.toLocaleString("en-IN") %></li>
      </ul>
    </div>
  </div>
  <div class="button">
    <div class="edit">
      <a href="/listings/<%=item._id%>/edit" class="btn btn-success"
        ><span><i class="fa-solid fa-cart-shopping"></i></span
        ><span>Add to Cart</span></a
      >
    </div>
    <div>
      <form method="POST" action="/listings/<%= item._id %>?_method=DELETE">
        <button class="btn btn-dark">Buy</button>
      </form>
    </div>
  </div>
</body> -->
